<!-- Título del módulo -->
<h3 class="resenas-title center">
  <i class="bi bi-chat-left-text"></i>
  Tus reseñas
</h3>

<!-- Cards -->
<div class="resena-card fade-in" *ngFor="let r of resenas">

  <!-- Participante -->
  <div class="resena-field">
    <label class="resena-label">
      <i class="bi bi-person"></i>
      Participante al que pertenece la reseña
    </label>
    <div class="resena-value">
      {{ r.participante?.nombres }} {{ r.participante?.apellidos }}
    </div>
  </div>

  <!-- Fecha -->
  <div class="resena-field">
    <label class="resena-label">
      <i class="bi bi-clock-history"></i>
      Fecha emitida de la reseña
    </label>
    <div class="resena-value">
      {{ getFechaRelativa(r.fecha!) }}
    </div>
  </div>

  <!-- Rating -->
  <div class="resena-field">
    <label class="resena-label">
      <i class="bi bi-star"></i>
      Calificación
    </label>
    <div class="rating" *ngIf="r.rating">
      <span class="star" *ngFor="let s of [1,2,3,4,5]" [class.filled]="s <= r.rating">
        ★
      </span>
    </div>
  </div>

  <!-- Reseña -->
  <div class="resena-field">
    <label class="resena-label">
      <i class="bi bi-chat-text"></i>
      Reseña
    </label>
    <p class="comentario">
      {{ r.comentario }}
    </p>
  </div>

</div>