/* Contenedor principal */
.container {
  max-width: 80%; /* Establece el ancho máximo del contenedor */
  margin: 20px auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Agrega espacio interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade un borde sombreado */
  background-color: #f9f9f9; /* Fondo claro para contraste */
  border-radius: 8px; /* Bordes redondeados */
}

/* Contenedor de la entrada y botón */
.demo-input-container {
  display: flex;
  justify-content: space-between; /* Espacio entre el input y el botón */
  align-items: center;
  margin-bottom: 16px;
  gap: 8px; /* Espacio entre los elementos */
}

.demo-input-container input {
  flex: 1; /* Ajusta el tamaño del input para ocupar el espacio disponible */
  padding: 8px;
  border-radius: 4px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris claro */
}

/* Tabla */
.table-container {
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.table {
  margin-top: 16px; /* Espacio superior */
  border-collapse: collapse; /* Unifica bordes de celdas */
  width: 100%; /* Asegura que la tabla ocupe el 100% del contenedor */
  background-color: #fff; /* Fondo blanco */
}

thead th {
  background-color: #343a40; /* Color de encabezado */
  color: #fff;
  text-align: center;
}

tbody td {
  text-align: center;
  padding: 8px;
}

.table th,
.table td {
  border: 1px solid #ddd; /* Borde entre celdas */
}

.table-container {
  padding: 16px 0; /* Espaciado vertical dentro del contenedor */
}

/* Botones */
.btn-sm {
  font-size: 12px;
  padding: 6px 12px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

