<!--div class="demo-button-container">j
  <button mat-raised-button [disabled]="!dataToDisplay.length" (click)="addData()" class="demo-button">
    Agregar Asignatura
  </button>
  <button mat-raised-button [disabled]="!dataToDisplay.length" (click)="removeData()" class="demo-button">
    Borrar Asignatura
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  Position Column
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  Name Column
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Asignatura</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
-->
<h1 class="text-center">Gestion de asignaturas</h1>
<div class="container">
  <div class="demo-input-container">
    <input
      type="text"
      class="form-control"
      placeholder="Nombre de la asignatura"
      [(ngModel)]="newSubjectName"
    />
    <button class="btn btn-primary" (click)="addData()" [disabled]="!newSubjectName">
      <i class="fas fa-plus"></i> Nueva Asignatura
    </button>
  </div>

  <div class="table-container">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Asignatura</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of dataSource; let i = index">
          <td>{{ element.position }}</td>
          <td>{{ element.name }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="removeSpecificData(i)">
              <i class="fas fa-trash"></i> Borrar
            </button>
            <button class="btn btn-warning btn-sm" (click)="editData(i)">
              <i class="fas fa-edit"></i> Actualizar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
