<h1 class="text-center">Gestión de Usuarios</h1>

<div class="demo-table">

    <!-- Formulario para actualizar un nuevo usuario -->
    <div class="demo-button-container">

        <input type="text" class="form-control mb-2" [(ngModel)]="UpdateUser.nombre" placeholder="Nombre" />
        <input type="text" class="form-control mb-2" [(ngModel)]="UpdateUser.apellido" placeholder="Apellido" />
        <input type="email" class="form-control mb-2" [(ngModel)]="UpdateUser.correo" placeholder="Correo" />
        <!--    <select class="form-control mb-2" [(ngModel)]="newUser.rol">
            <option value="">Seleccionar rol</option>
            <option value="Tutor">Tutor</option>
            <option value="Participante">Participante</option>
        </select>
        -->
        <button class="btn btn-primary " [disabled]="!UpdateUser.nombre || !UpdateUser.apellido || !UpdateUser.correo"
            (click)="saveUserUpdates(UpdateUser)">
            <i class="fas fa-save mr-2"></i> Guardar
        </button>
    </div>


    <!-- Filtro por rol -->
    <div class="demo-button-container">
        <select class="form-control mb-2" [(ngModel)]="selectedRol" (change)="filterByRole()">
            <option value="">Todos los usuarios</option>
            <option value="Tutor">Tutor</option>
            <option value="Participante">Participante</option>
        </select>
    </div>

    <!-- Tabla de usuarios -->
    <div class="table-container mt-4">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th (click)="sortTable('nombre')">Nombres <i class="fas fa-sort"></i></th>
                    <th (click)="sortTable('apellido')">Apellidos <i class="fas fa-sort"></i></th>
                    <th (click)="sortTable('correo')">Correo <i class="fas fa-sort"></i></th>
                    <th (click)="sortTable('rol')">Rol <i class="fas fa-sort"></i></th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsuarios; let i = index">
                    <td>{{ user.id }}</td>
                    <td>{{ user.nombre }}</td>
                    <td>{{ user.apellido }}</td>
                    <td>{{ user.correo }}</td>
                    <td>{{ user.rol }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="toggleUserStatus(user)">
                            <i class="fas fa-power-off"></i>
                            {{ user.activo === 1 ? 'Desactivar' : 'Activar' }}
                        </button>
                        <button class="btn btn-warning btn-sm" (click)="updateUser(user)">
                            <i class="fas fa-edit"></i> Actualizar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>




</div>