/* Contenedor principal que rodea toda la sección */
.demo-table {
    width: 90%; /* Ajusta el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    padding: 20px; /* Espaciado interno */
    background-color: #f9f9f9; /* Fondo suave */
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(16, 8, 8, 0.759); 
  }
  
  /* Contenedor de botones e input */
  .demo-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    gap: 8px;
    margin-bottom: 20px; 
  }
  
  /* Estilos de la tabla */
  .table {
    margin-top: 16px; 
    border-collapse: collapse; 
    width: 100%;
  }
  
  /* Estilos de la cabecera de la tabla */
  thead th {
    text-align: center;
    background-color: #343a40; /* Fondo oscuro para la cabecera */
    color: white;
    padding: 12px 15px; /* Espaciado interno */
    font-weight: bold;
  }
  
  /* Estilos de las celdas de la tabla */
  tbody td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd; /* Borde ligero para las celdas */
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Fila de color alterno */
  }
  
  /* Estilos de las acciones */
  .btn-sm {
    font-size: 12px;
    padding: 4px 8px;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
  .demo-input-container input,
  .demo-input-container select {
    flex: 1;
    margin-right: 8px;
    padding: 8px;
    width: 180px; 
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input[type="text"], input[type="email"], select {
    width: 200px; 
  }
  
  
  button {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #00408a;
  }
  
  /* Contenedor de la tabla */
  .table-container {
    margin: 0 auto; /* Centrar la tabla */
    padding: 20px; /* Agregar un margen interno */
    max-width: 100%; /* Ajusta el ancho máximo de la tabla */
    background-color: #fff; /* Fondo blanco para la tabla */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(15, 13, 13, 0.1); /* Sombra sutil */
  }
  
  
  button.btn-sm {
    padding: 6px 10px;
    font-size: 12px;
  }

  .activo {
    background-color: green;
    color: white;
  }
  
  .desactivado {
    background-color: red;
    color: white;
  }
  

 /* table tbody tr:hover {
    background-color: #020509;
    cursor: pointer;
  }/*

 /* :host ::ng-deep tbody tr:hover {
    background-color: #295483; 
    cursor: pointer;
  }*/
  